.app {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    position: absolute;
    top: 5%;
    width: 200px;
    height: auto;
    z-index: 999;
}

.logo.right.show {
    animation: showRightLogo 2s forwards ease-in-out;
}

@keyframes showRightLogo {
    0%, 25% {
        opacity: 0;
        right: -10%;
    }
    100% {
        opacity: 1;
        right: 5%;
    }
}

.logo.left.show {
    animation: showLeftLogo 2s forwards ease-in-out;
}

@keyframes showLeftLogo {
    0%, 25% {
        opacity: 0;
        left: -10%;
    }
    100% {
        opacity: 1;
        left: 5%;
    }
}

.logo.right.hidden {
    animation: maskRightLogo 0.8s forwards ease-in-out;
}

@keyframes maskRightLogo {
    0% {
        opacity: 1;
        right: 5%;
    }
    100% {
        opacity: 0;
        right: -10%;
    }
}

.logo.left.hidden {
    animation: maskLeftLogo 0.8s forwards ease-in-out;
}

@keyframes maskLeftLogo {
    0% {
        opacity: 1;
        left: 5%;
    }
    100% {
        opacity: 0;
        left: -10%;
    }
}

.logo img {
    width: 100%;
    height: 100%;
}

@keyframes hiddeLogo {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.content {
    position: relative;
    top: 0;
    left: 0;
    width: 68%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 1.5s ease-in-out, filter 1.5s ease-in-out;
}

.content.is-hover {
    width: 68%;
}

.content.not-hover {
    width: 32%;
    filter: brightness(50%);
}

.content.open {
    width: 100%;
}

.content.close {
    width: 0%;
}

.content h1 {
    font-size: 5rem;
    transition: font-size 1.5s ease-in-out, filter 1.5s ease-in-out, opacity 1s ease-in-out;
}

.content.is-hover h1 {
    font-size: 7rem;
}

.content.not-hover h1 {
    filter: blur(8px);
}


.glossaire {
    position: absolute;
    top: 8%;
    transition: transform 1.5s ease-in-out, left 1.5s ease-in-out;
    overflow-y: visible;
    z-index: 999;
}

.glossaire.right {
    left: 68%;
    transform: translateX(-110%);
}

.glossaire.left {
    left: 32%;
    transform: translateX(10%);
}

.glossaire.center {
    left: 50%;
    transform: translateX(-50%);
}

.glossaire h1 {
    -webkit-text-stroke: 5px;
    color: transparent;
    font-size: 9rem;
    white-space: nowrap;
    transition: -webkit-text-stroke-color 1.5s ease-in-out, opacity 1s ease-in-out;
}

.glossaire h1.show {
    opacity: 1;
}

.glossaire h1.hidden {
    opacity: 0;
}

.glossaire.right h1 {
    -webkit-text-stroke-color: green;
}

.glossaire.left h1 {
    -webkit-text-stroke-color: #FFA500;
}

.arrow {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transform: translate(-50%);
    cursor: pointer;
    transition: left 1.5s ease-in-out, background-color 1.5s ease-in-out, box-shadow 1.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 999;
}

.arrow.right {
    left: 68%;
    box-shadow: -6px 4px 10px rgba(0, 0, 0, 0.5);
    background-color: var(--light);
}

.arrow.left {
    left: 32%;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.5);
    background-color: var(--dark);
}

.arrow.right.reverse {
    left: calc(100% - 10px);
}

.arrow.left.reverse {
    left: 10px;
}

.arrow-content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}

.arrow.right:hover .arrow-content, .arrow.left.reverse:hover .arrow-content {
    animation: rightArrowMove 2s ease-in-out infinite;
}

@keyframes rightArrowMove {
    0%, 80%, 100% {
        opacity: 1;
        transform: translateX(0);
    }
    33% {
        opacity: 0;
        transform: translateX(100%);
    }
    50% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.arrow.left:hover .arrow-content, .arrow.right.reverse:hover .arrow-content {
    animation: leftArrowMove 1.5s ease-in-out infinite;
}

@keyframes leftArrowMove {
    0%, 80%, 100% {
        opacity: 1;
        transform: translateX(0);
    }
    33% {
        opacity: 0;
        transform: translateX(-100%);
    }
    50% {
        opacity: 0;
        transform: translateX(100%);
    }
}

.arrow-content span {
    position: absolute;
    width: 70%;
    height: 15px;
    border-radius: 15px;
    transition: transform 1.5s ease-in-out, background-color 1.5s ease-in-out;
}

.arrow.right .arrow-content span {
    background-color: green;
}

.arrow.left .arrow-content span {
    background-color: #FFA500;
}

.arrow.right span:nth-child(1), .arrow.left.reverse span:nth-child(1) {
    width: 50%;
    transform: rotate(45deg) translate(5px, -35px);
}

.arrow.right span:nth-child(3), .arrow.left.reverse span:nth-child(3) {
    width: 50%;
    transform: rotate(-45deg) translate(5px, 35px);
}

.arrow.left span:nth-child(1), .arrow.right.reverse span:nth-child(1){
    width: 50%;
    transform: rotate(-45deg) translate(-5px, -35px);
}

.arrow.left span:nth-child(3), .arrow.right.reverse span:nth-child(3) {
    width: 50%;
    transform: rotate(45deg) translate(-5px, 35px);
}

.team-right, .team-left {
    position: absolute;
    top: 0;
    height: 100%;
    transition: opacity 1.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.team-right {
    color: var(--light);
    right: 0;
}

.team-left {
    left: 0;
    color: var(--dark);
}

.team-right.show, .team-left.show {
    animation: showTeam 1.5s forwards ease-in-out;
}

@keyframes showTeam {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.team-right.hidden, .team-left.hidden {
    animation: hiddenTeam 1.5s forwards ease-in-out;
}

@keyframes hiddenTeam {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.team-top, .team-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-top h3 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #FFA500;
    border-bottom: 5px solid #FFA500;
}

.team-left .team-top h3 {
    color: green;
    border-bottom-color: green;
}

.team-top span, .team-bottom span {
    font-size: 1.8rem;
    margin-bottom: 0.75rem;
}

.intro-content {
    position: absolute;
    top: 60%;
    padding: 35px;
    width: 40rem;
    border-radius: 15px;
    box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 1s ease-in-out;
}

.intro-content.show, .intro-content.open {
    animation: showIntroContent 1.5s forwards ease-in-out;
    animation-delay: 0.5s;
}

@keyframes showIntroContent {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.intro-content.hidden, .intro-content.close {
    animation: hiddenIntroContent 1.5s forwards ease-in-out;
}

@keyframes hiddenIntroContent {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50%, 100% {
        opacity: 0;
        transform: translateY(100%);
    }
}

.content.debutant .intro-content {
    background-color: var(--dark-light);
}

.content.expert .intro-content {
    background-color: var(--light-dark);
}

.intro-content p {
    font-size: 1.3rem;
    font-weight: 500;
    text-align: justify;
}

.content.debutant .intro-content {
    color: var(--light-dark);
}

.content.expert .intro-content {
    color: var(--dark-light);
}

.read-more {
    filter: brightness(75%);
    border-bottom: 2px solid transparent;
    opacity: 0;
    transition: opacity 1.5s ease-in-out, filter 0.3s ease-in-out, border-bottom-color 0.3s ease-in-out;
}

.read-more.open {
    cursor: pointer;
    opacity: 1;
}

.read-more#debutant {
    color: green;
}

.read-more#expert {
    color: #FFA500;
}

.read-more:hover {
    filter: brightness(100%);
}

.read-more#debutant:hover {
    border-bottom-color: green;
}

.read-more#expert:hover {
    border-bottom-color: #FFA500;
}

.alert {
    position: absolute;
    width: 700px;
    border-radius: 15px;
    padding: 50px;
    background-color: #FFA500;
    box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
    transition: transform 1s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.alert.hidden {
    transform: translateY(-1000px);
}

.alert h2 {
    font-size: 2rem;
}

.alert span {
    margin-top: 35px;
    padding: 25px;
    border-radius: 15px;
    font-size: 2rem;
    color: var(--light);
    background-color: var(--dark);
    box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.5);
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    cursor: pointer;
}

.alert span:hover {
    color: #FFA500;
    transform: scale(1.1);
}