.app {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    position: absolute;
    top: 5%;
    width: 200px;
    height: auto;
    z-index: 999;
}

.logo.left {
    animation: logoAnimationLeft 1.5s forwards ease-in-out;
}

@keyframes logoAnimationLeft {
    0% {
        opacity: 1;
        left: auto;
        right: 5%;
    }
    33% {
        opacity: 0;
        left: auto;
        right: 5%;
    }
    66% {
        opacity: 0;
        left: 5%;
        right: auto;
    }
    100% {
        opacity: 1;
        left: 5%;
        right: auto;
    }
}

.logo.right {
    animation: logoAnimationRight 1.5s forwards ease-in-out;
}

@keyframes logoAnimationRight {
    0% {
        opacity: 1;
        left: 5%;
        right: auto;
    }
    33% {
        opacity: 0;
        left: 5%;
        right: auto;
    }
    66% {
        opacity: 0;
        left: auto;
        right: 5%;
    }
    100% {
        opacity: 1;
        left: auto;
        right: 5%;
    }
}

.logo img {
    width: 100%;
    height: 100%;
}

.content {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 1.5s ease-in-out, filter 1.5s ease-in-out;
}

.content.is-hover {
    width: 68%;
}

.content.not-hover {
    width: 32%;
    filter: brightness(50%);
}

.content h1 {
    font-size: 5rem;
    transition: font-size 1.5s ease-in-out, filter 1.5s ease-in-out;
}

.content.is-hover h1 {
    font-size: 7rem;
}

.content.not-hover h1 {
    filter: blur(8px);
}


.glossaire {
    position: absolute;
    top: 8%;
    transition: transform 1.5s ease-in-out, left 1.5s ease-in-out;
    z-index: 999;
}

.glossaire.right {
    left: 68%;
    transform: translateX(-110%);
}

.glossaire.left {
    left: 32%;
    transform: translateX(10%);
}

.glossaire h1 {
    -webkit-text-stroke: 5px;
    color: transparent;
    font-size: 9rem;
    transition: -webkit-text-stroke-color 1.5s ease-in-out;
}

.glossaire.right h1 {
    -webkit-text-stroke-color: var(--dark);
}

.glossaire.left h1 {
    -webkit-text-stroke-color: #FFA500;
}

.arrow {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transform: translate(-50%);
    cursor: pointer;
    transition: left 1.5s ease-in-out, background-color 1.5s ease-in-out, box-shadow 1.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 999;
}

.arrow.right {
    left: 68%;
    box-shadow: -6px 4px 10px rgba(0, 0, 0, 0.5);
    background-color: var(--light);
}

.arrow.left {
    left: 32%;
    box-shadow: 6px 4px 10px rgba(0, 0, 0, 0.5);
    background-color: var(--dark);
}

.arrow-content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}

.arrow.right:hover .arrow-content {
    animation: rightArrowMove 2s ease-in-out infinite;
}

@keyframes rightArrowMove {
    0%, 80%, 100% {
        opacity: 1;
        transform: translateX(0);
    }
    33% {
        opacity: 0;
        transform: translateX(100%);
    }
    50% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.arrow.left:hover .arrow-content {
    animation: leftArrowMove 1.5s ease-in-out infinite;
}

@keyframes leftArrowMove {
    0%, 80%, 100% {
        opacity: 1;
        transform: translateX(0);
    }
    33% {
        opacity: 0;
        transform: translateX(-100%);
    }
    50% {
        opacity: 0;
        transform: translateX(100%);
    }
}

.arrow-content span {
    position: absolute;
    width: 70%;
    height: 15px;
    border-radius: 15px;
    transition: transform 1.5s ease-in-out, background-color 1.5s ease-in-out;
}

.arrow.right .arrow-content span {
    background-color: var(--dark);
}

.arrow.left .arrow-content span {
    background-color: #FFA500;
}

.arrow.right span:nth-child(1) {
    width: 50%;
    transform: rotate(45deg) translate(5px, -35px);
}

.arrow.right span:nth-child(3) {
    width: 50%;
    transform: rotate(-45deg) translate(5px, 35px);
}

.arrow.left span:nth-child(1) {
    width: 50%;
    transform: rotate(-45deg) translate(-5px, -35px);
}

.arrow.left span:nth-child(3) {
    width: 50%;
    transform: rotate(45deg) translate(-5px, 35px);
}

.team-right, .team-left {
    position: absolute;
    top: 0;
    height: 100%;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.team-right {
    color: var(--light);
    right: 0;
}

.team-left {
    left: 0;
}

.team-right.show, .team-left.show {
    opacity: 1;
}

.team-top, .team-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-top h3 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #FFA500;
    border-bottom: 5px solid #FFA500;
}

.team-top span, .team-bottom span {
    font-size: 1.8rem;
    margin-bottom: 0.75rem;
}